.base-catalog {
    background-color: #f9f9f9;
    padding: 20px 0;
  }
  
  .base-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .base-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: hidden;
    width: 30%; /* Регулируйте ширину по необходимости */
  }
  
  .base-card img {
    width: 100%;
    height: auto;
  }
  
  .base-card h3 {
    font-size: 18px;
    padding: 10px;
  }
  
  .base-card p {
    padding: 0 10px 10px;
    font-size: 14px;
    color: #666;
  }
  