.news-section {
  display: flex;
  gap: 20px; /* Промежутки между блоками */
  background-image: url('../components/assets/abstract-orange-and-white-background-vector.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Это создает эффект параллакса */
  padding: 20px;
  will-change: transform;
  position: relative; /* Нужно для псевдоэлемента */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), /* Нижняя тень */
  0 -4px 12px rgba(0, 0, 0, 0.2); /* Верхняя тень */

}

.news-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../components/assets/abstract-orange-and-white-background-vector.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Параллакс-эффект */
  filter: blur(15px); /* Применяет размытие */
  z-index: 0; /* Помещает размытую картинку под текстом */
}


/* Главная новость (слева) */
.main-news {
  flex: 1; /* Занимает 3/5 пространства */
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Это создает эффект параллакса */
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7); /* Добавляем тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.main-news::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Параллакс-эффект */
  filter: blur(10px); /* Применяет размытие */
  z-index: 0; /* Помещает размытую картинку под текстом */
}



.main-news:hover {
  transform: translateY(-5px); /* Легкий сдвиг вверх при наведении */

}

.main-news-content-overlay {
  position: absolute;
  display: flex;
  top: 65%;
  left: 3%;
  border-radius: 25px;
  flex-direction: column;
  justify-content: flex-end; /* Текст располагается у нижней границы */
  align-items: flex-start; /* Текст выравнивается по левому краю */
  color: white;
  text-align: left; /* Текст выравнивается влево */
  z-index: 3;
}

.main-news-image-container {
  position: relative;
}

.main-news-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.main-news-image:hover {
  transform: scale(1.05); /* Увеличиваем изображение при наведении */
}

.main-news-image-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%; /* Высота градиента, можно настроить */
  background: linear-gradient(to top, rgba(0, 0, 0, 50), rgba(0, 0, 0, 0)); /* Градиент снизу вверх */
  border-radius: 10px; /* Совпадает с радиусом изображения */
}

.main-news-content {
  text-align: center;
}

.main-news-title {
  font-size: 1.5em;
  margin: 10px 0;
  padding-left: 15px;
}

.main-news-description {
  font-size: 1em;
}

/* Маленькие новости под главной новостью */
.small-news-blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-news-item {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5%;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.small-news-item:hover {
  transform: translateY(-5px); /* Легкий сдвиг вверх при наведении */

}

.small-news-title {
  font-size: 1em;
  color: #000000;
  
  margin: 5px 0;
}

.small-news-content {
  font-size: 0.9em;
}

/* Центральный блок с текстом */
.center-image-block {
  flex: 2; /* Занимает 2/3 пространства */
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Это создает эффект параллакса */
  border-radius: 10px;
  padding: 20px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px; /* Отступы для разделения контейнеров */
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7); /* Добавляем тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.center-image-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Параллакс-эффект */
  filter: blur(10px); /* Применяет размытие */
  z-index: 0; /* Помещает размытую картинку под текстом */
}



.center-image-block:hover {
  transform: translateY(-5px); /* Легкий сдвиг вверх при наведении */

}

.center-text {
  font-size: 1.2em;
  text-align: center;
}

/* Вертикальный блок актуальных новостей (справа) */
.recent-news {
  flex: 1;
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Это создает эффект параллакса */
  border-radius: 10px;
  padding: 15px;
  max-width: 225px;
  height: 580px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.7); /* Добавляем тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recent-news::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../components/assets/TESTING.jpg'); /* Замените на путь к вашему изображению */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Параллакс-эффект */
  filter: blur(10px); /* Применяет размытие */
  z-index: 0; /* Помещает размытую картинку под текстом */
}


.recent-news:hover {
  transform: translateY(-5px);

}

/* Общий стиль для контейнеров без воды и вакансий */
.no-water-container,
.vacancies-container {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  width: 100%; /* Занимаем полную ширину */
  gap: 15px;
  margin-top: 25px;
}



.vacancies-container h3,
.no-water-container h3 {
  text-align: center; /* Выравниваем заголовок по центру */
  margin-bottom: 10px;
}

/* Актуальные новости */
.recent-news-item {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.recent-news-item:hover {
  transform: translateY(-5px); /* Легкий сдвиг вверх при наведении */

}

/* Без воды */
.no-water-item {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень */
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.no-water-item:hover {
  transform: translateY(-5px); /* Легкий сдвиг вверх при наведении */
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3); /* Увеличиваем тень */
}
.recent-news-title,
.no-water-title {
  font-size: 1em;
  color: #000000;
}

.recent-news-content,
.no-water-content {
  font-size: 0.9em;
}

/* Стили слайдера */
.slick-slide {
  display: flex !important; /* Позволяем элементам занимать всю высоту */
  justify-content: center; /* Центрируем содержимое */
  align-items: center; /* Центрируем содержимое */
  height: auto; /* Установите высоту по вашему усмотрению */
}

h3 {
  text-align: center;
}

/* Центрируем блок с изображением */
.central-image-container {
  position: relative;
  width: 100%;
  transition: opacity 1s ease;
}

.central-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Добавляем тень */
  transition: transform 0.3s ease;
}



.central-image-content-overlay {
  position: absolute;
  bottom: 12px; /* Размещаем текст у нижней границы */
  border-radius: 10px;
  left: 0;
  width: 100%; /* Ширина 100% */
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 50), rgba(0, 0, 0, 0)); /* Градиент снизу вверх */
  color: white; /* Цвет текста */
}

.central-image-title {
  font-size: 1.5em; /* Размер заголовка */
  margin: 10px 0;
}

.central-image-description {
  font-size: 1em; /* Размер описания */
}

.central-image-container.fade {
  opacity: 0; /* Скрываем контейнер при анимации */
}

.slick-slider {
  display: flex;
  align-items: center; /* Центрируем элементы по вертикали */
  justify-content: center; /* Центрируем элементы по горизонтали */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Добавляем тень */
}