.questionnaire-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;

}

.card {
  width: 450px;
  height: 500px;
  background-color: #f8f9fa;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}




.card:hover .background-image {
  transform: scale(1.1);

}


.background-image {
  position: absolute;

  top: 0;

  left: 0;

  right: 0;
 
  bottom: 0;

  background-size: cover;

  background-position: center;

  transition: transform 0.3s ease;

}

.card-content {
  position: absolute;

  bottom: 0;

  left: 0;

  right: 0;

  padding: 20px;

  color: white;

  background: rgba(0, 0, 0, 0.5);

  text-align: left;

  display: flex;

  flex-direction: column;

  justify-content: flex-end;

  height: 100%;

  overflow: hidden;

}


.card-title {
  font-size: 1.5rem;

  margin: 0;

}

.card-description {
  flex-grow: 1;

  margin: 10px 0;

  overflow: hidden;

  text-overflow: ellipsis;

  display: -webkit-box;

  -webkit-box-orient: vertical;

}

.card-stats {
  margin-top: 10px;

}


.card:nth-child(1) .background-image {
  background-image: url('./assets/young\ man\ explaining\ lesson\ material\ standing\ next\ to\ whiteboard\ \(1\).png');

  top: 15px;
  left: 85px;
}

.card:nth-child(2) .background-image {
  background-image: url('./assets/youg\ people\ discussing\ the\ project.png');


}

.card:nth-child(3) .background-image {
  background-image: url('./assets/businesswoman\ in\ red\ suit\ looking\ at\ phone.png');

}


button {
  padding: 10px 15px;

  border: none;

  border-radius: 4px;

  background-color: #ffffff;

  color: rgb(0, 0, 0);

  font-size: 1rem;

  cursor: pointer;

  transition: background-color 0.3s ease;

}

button:hover {
  background-color: #FFA500;

}

button:focus {
  outline: none;

}


body {
  font-family: 'Poppins', sans-serif;
}


.card-title {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 700;

}

.card-description {
  font-weight: 400;

  margin: 10px 0;
}

.card-stats {
  margin-top: 10px;
  font-weight: 700;

}

button {
  font-weight: 700;

}