/* Styles for recreation centers */
.recreation-centers {
    padding: 50px 20px;
    background-color: #eec79a9a; /* Основной цвет фона */
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), /* Нижняя тень */
                0 -4px 12px rgba(0, 0, 0, 0.2); /* Верхняя тень */
}



.centers-title {
    font-size: 36px;
    color: #15202B;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    font-weight: bold;
    
}

.centers-title::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 4px;
    background-color: #FFA500;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}

/* Recreation center card grid */
.centers-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Recreation center card */
.center-card {
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.center-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.center-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.center-card:hover .center-image {
    transform: scale(1.1);
}

.center-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}

.center-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

h3{

 color: #FFA500;

}

.description {
    font-size: 16px;
    margin-bottom: 20px;
}

.center-info {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.rating {
    color: #f39c12;
}

.price {
    font-weight: bold;
}

/* Button styling */
.more-info-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 8px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: background-color 0.4s, box-shadow 0.3s;
}

.more-info-button:hover {
    background-color: #FFA500;
    box-shadow: 0 6px 12px rgba(176, 178, 180, 0.158);
}

/* Animation effect on hover */
.more-info-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.2);
    transition: transform 0.75s cubic-bezier(0.42, 0, 0.58, 1);
    
    border-radius: 50%;
}

.more-info-button:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.more-info-button:focus {
    outline: none;
}

/* View all centers link styling */
/* View all centers link styling */
.view-all-link {
    display: inline-block;
    margin-top: 30px;
    font-size: 18px;
    color: #323335ad; /* Синий цвет текста */
    text-decoration: none;
    font-weight: bold;
    position: relative;
    transition: color 0.3s, transform 0.3s;
    letter-spacing: 1px;
}

.view-all-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #858a8f; /* Синяя линия под текстом */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
}

.view-all-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.view-all-link:hover {
    color: #0000009a; /* Темно-синий цвет при наведении */
    transform: translateY(-2px); /* Небольшой подъем текста */
}
