/* Основные стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Roboto', sans-serif;    
  background-size: cover;
  color: #000000;
  line-height: 2;
  display: flex;
  flex-direction: column;
  transition: background-color 0.5s ease, color 0.5s ease;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 8px; /* Увеличиваем ширину скроллбара для улучшения видимости */
  height: 8px; /* Увеличиваем высоту скроллбара */
}

::-webkit-scrollbar-track {
  background: rgba(255, 165, 0, 0.1); /* Легкий фон трека для контраста */
  border-radius: 10px; /* Закругление углов трека */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Легкая тень для трека */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff8c00, #fa642e); /* Градиент для основной полосы */
  border-radius: 10px; /* Закругление углов скроллбара */
  transition: background 0.3s, transform 0.3s; /* Плавный переход цвета и эффекта при наведении */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #ff7f50, #ff6347); /* Градиент при наведении */
  transform: scale(1.1); /* Увеличение при наведении для эффекта */
}

::-webkit-scrollbar-thumb:active {
  background: linear-gradient(180deg, #ff4500, rgb(255, 102, 0)); /* Цвет при нажатии */
  transform: scale(0.9); /* Уменьшение при нажатии для эффекта */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('./components/assets/Group\ 2\ \(1\).png');

  backdrop-filter: blur(10px);
  
}



header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  font-size: 2rem; /* Вместо общего .logo */
  font-weight: bold;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  position: relative;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}



/* Навигационная панель */
.nav-panel {
  position: fixed;
  top: 100px; /* Отступ от верхней части страницы */
  left: 20px; /* Отступ от левого края */
  width: 200px; /* Ширина панели навигации */
  background-color: #fff; /* Цвет фона */
  border-radius: 8px; /* Скругление углов */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень */
  z-index: 10; /* Уровень над другими элементами */
  padding: 20px 0; /* Добавлено немного внутреннего отступа */
}

.nav-extra {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  z-index: 1;
}

.nav-extra a {
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
}

.nav-extra a:hover {
  background-color: #f1f1f1;
}

.nav-list {
  list-style: none;
  padding: 20px 0; /* Отступ внутри панели */
}

.nav-list li {
  margin: 10px 0; /* Отступ между элементами списка */
}

.nav-list a {

  color: #333; /* Цвет текста */
  display: flex;
  align-items: center; /* Выравнивание по центру */
  padding: 10px 15px; /* Отступ вокруг текста */
  border-radius: 4px; /* Скругление углов */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.nav-list a:hover {
  background-color: #87c1ff; /* Цвет фона при наведении */
}

.nav-list a i {
  margin-right: 10px; /* Отступ между иконкой и текстом */
}

/* Фикс футера */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}

/* Основная часть */
main {
  flex-grow: 1;
  padding: 40px 0;
}

.container {
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  display: grid;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #6fa3ef;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5); /* Тень */
}

/* Стили для новостей */
.news h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  
}

.news-list {
  display: flex; /* Используем flexbox для горизонтального расположения */
  flex-wrap: wrap; /* Позволяет переносить карточки на следующую строку при недостатке места */
  gap: 20px; /* Отступы между карточками */
}

.news-card {
  flex: 1 1 calc(10% - 20px); /* Карточки занимают по 1/10 ширины, с отступом */
  background-color: #ffffff; /* Цвет фона карточки */
  border: 1px solid #ddd; /* Граница карточки */
  border-radius: 5px; /* Закругление углов */
  padding: 15px; /* Отступы внутри карточки */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
  transition: box-shadow 0.3s; /* Плавный переход для тени */
  transform: translateY(-5px);
}

.news-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.news-card h3 {
  margin: 0 0 10px; /* Отступы заголовка */
}

.news-card p {
  margin: 0; /* Убираем отступы для параграфа */
}

.news-card a {
  
  color: #007bff;
  font-weight: 500;
}

.news-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.news-card:hover {
  transform: translateY(-5px);
}

/* Основные стили футера */
footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
  margin-top: auto; 
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

.cinema {
  padding: 40px 0;
}

.cinema h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.cinema-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.cinema-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.cinema-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cinema-card h3 {
  font-size: 1.2rem;
  margin: 10px;
}

.cinema-card p {
  font-size: 1rem;
  padding: 0 10px 10px;
}

.cinema-card a {

  color: #007bff;
  font-weight: 500;
}

.cinema-card a:hover {
  color: #0056b3;
}

.cinema-card:hover {
  transform: translateY(-5px);
}

.news {
  padding: 100px 0;
}

.news h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.news-content {
  display: flex;
  justify-content: space-between;
}

.main-news,
.cinema-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-right: 20px; /* Отступ между карточками */
  flex: 1; /* Занимает равное пространство */
  max-width: 45%; /* Максимальная ширина для каждой карточки */
}

.main-news img,
.cinema-card img {
  width: 100%;
  height: auto; /* Подстраиваем высоту под изображение */
  object-fit: cover;
}

.main-news h3,
.cinema-card h3 {
  font-size: 1.5rem;
  margin: 10px;
}

.main-news p,
.cinema-card p {
  font-size: 1rem;
  padding: 0 10px 10px;
}

.main-news a,
.cinema-card a {

  color: #007bff;
  font-weight: 500;
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
  margin-top: 10px;
  border-radius: 5px;
}

.main-news a:hover,
.cinema-card a:hover {
  background-color: #ddd;
}

/* Стили для баз отдыха */
.base-catalog {
  padding: 40px 0;
  
}

.base-catalog h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.base-list {
  display: flex; /* Используем flexbox для горизонтального расположения */
  flex-wrap: wrap; /* Позволяет переносить карточки на следующую строку при недостатке места */
  gap: 20px; /* Отступы между карточками */
}

.base-card {
  flex: 1 1 calc(33.33% - 20px); /* Карточки занимают по 1/3 ширины, с отступом */
  background-color: #ffffff; /* Цвет фона карточки */
  border: 1px solid #ddd; /* Граница карточки */
  border-radius: 5px; /* Закругление углов */
  padding: 15px; /* Отступы внутри карточки */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень */
  transition: box-shadow 0.3s; /* Плавный переход для тени */
  transform: translateY(-5px);
}

.base-card h3 {
  margin: 0 0 10px; /* Отступы заголовка */
}

.base-card p {
  margin: 0; /* Убираем отступы для параграфа */
}

.base-card a {

  color: #007bff;
  font-weight: 500;
  display: inline-block; /* Сделаем ссылку блочным элементом */
  margin-top: 10px; /* Отступ сверху */
}

.base-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

.base-card:hover {
  transform: translateY(-5px);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .logo {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .weather-currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .weather-text, .currency-text {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5px 0;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    font-size: 1rem;
  }
  
  .search-button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
  }
  
  .search-button:hover {
    background-color: #0056b3;
  }
 